/* Navbar design */

.btn-rita {
    background-color: #B44;
    color: #ffffff;
}

html {
    margin-bottom: 0;
}

body{
    margin-bottom: 0px;
    background-color: #ffffff;
}

#ritapang{
    text-align: center;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    background-color: #B44;
    opacity: 85%;
    border-radius: 10px;
    color: #DDDEDE;
    font-family: Fredericka the Great, sans-serif;
    font-size: 30px;
}

#formfirstname {
    margin: 0px 0px 0px 10px;
}

#formlastname {
    margin-right: 30px;
}

.formtext {
    font-family: Courgette, sans-serif;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color:#212529;
    color: #DDDEDE;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    margin-bottom: 0;
    border-top: 5px solid;
    border-top-color: #B44;
}

