/* Navbar design */

.btn-rita {
    background-color: #B44;
    color: #ffffff;
}

.btn-ritaprofile {
    background-color: #B44;
    color: #ffffff;
    width: 50px;
    font-family: Courgette, sans-serif;
    font-size: 16px;
    text-align: center;
}

.fa_custom {
    color: #ffffff;
}


html {
    margin-bottom: 0;
}

body{
    margin-bottom: 0px;
    background-color:#ffffff;
}

#ritapang{
    text-align: center;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    background-color: #B44;
    opacity: 85%;
    border-radius: 10px;
    color: #DDDEDE;
    font-family: Fredericka the Great, sans-serif;
    font-size: 30px;
}

#bio-image{
    border-radius: 8px;
    margin-left: -3%;
    margin-top: 10px;
    box-sizing: border-box;
}

#introtext {
    box-sizing: border-box;
}

#pebbstext {
    box-sizing: border-box;
    margin: 0 10px 0 0;
}

#pebbsimg{
    border-radius: 5px;
    box-sizing: border-box;
}

.h3{
    font-family: Courgette, sans-serif;
    font-size: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color:#212529;
    color: #DDDEDE;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    margin-bottom: 0;
    border-top: 5px solid;
    border-top-color: #B44;
}

