@media only screen and (min-width: 770px) {
#bio-image{
    border-radius: 5px;
    height:300px;
    width:325px;
}

#pebbsimg {
    border-radius: 5px;
    position: absolute;
    top: 0%;
    margin-bottom: 0px;
}

#pebbstext{
    margin-bottom: 0px;
}
}

@media only screen and (min-width: 415px) {
    #bio-image{
        border-radius: 5px;
        height:auto;
        width:300px;
        margin-top: 28px;
    }
    
    #pebbsimg {
        border-radius: 5px;
        position: absolute;
        top: 0%;
        margin-bottom: 20px;
        margin-top: 0%;
    }

    #pebbstext{
        margin-bottom: 20px;
    }

    #introtext{
        margin-top: 20px;
    }


}

@media only screen and (max-width: 414px) {

    #bio-image{
        border-radius: 5px;
        height:auto;
        width:300px;
    }
    
    #pebbsimg {
        border-radius: 5px;
        position: absolute;
        top: 0%;
        margin-bottom: 120px;
        margin-top: 0%;
    }

    #pebbstext{
        margin-bottom: 10px;
    }

    #introtext{
        margin-top: 20px;
    }


}
