.btn-rita {
    background-color: #B44;
    color: #ffffff;
}

.formtextbox {
    margin: 0px 0px 0px 0px;
    border-radius: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.formmessagebox {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.formtext {
    font-family: 'Rock Salt', cursive;
    font-size: 20px;
}