@media only screen and (min-width: 415px) {

    #headerWrapper {
        background-color: rgb(165,42,42, 0.6);
        border-bottom: 5px solid black;
        height: 150px;
        width: 100%;
    }

    #headerFont {
        position: relative;
        top: -45px;
        font-family: 'Codystar', cursive;
        font-weight: bold;
    }

    #headerPFont {
        position: relative;
        top: -45px;
    }

}

@media only screen and (max-width: 414px) {
    #headerWrapper {
        background-color: rgb(165,42,42, 0.6);
        border-bottom: 5px solid black;
        height: 150px;
    }

    #headerFont {
        position: relative;
        top: -10px;
        font-family: 'Codystar', cursive;
        font-weight: bold;
        font-size: 12vw;
    }

    #headerPFont {
        position: relative;
        top: -10px;
        font-size: 3.5vw;
    }
}