@media only screen and (min-width: 770px) {
    #linkedin{
    position: relative;
    top: 50%;
    right: 50%;
    margin: 10px;
    }

    #github{
    position: relative;
    top: 50%;
    right: 40%;
    margin: 10px;

    }

    #resume{
    position: relative;
    top: 50%;
    right: 30%;
    margin: 10px;

    }

}

@media only screen and (max-width: 769px) {
    #linkedin{
        position: relative;
        top: 0%;
        right: 2%;
        margin: 10px;
        }
    
        #resume{
        position: relative;
        top: 10%;
        right: 2%;
        margin: 10px;
    
        }
    
        #github{
        position: relative;
        top: 20%;
        right: 2%;
        margin: 10px;
    
        }
}

.btn-ritaprofile {
    background-color: #B44;
    color: #ffffff;
    width: 50px;
}

.fa_custom {
    color: #ffffff;
}

